# Database
DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_USERNAME=root
DATABASE_PASSWORD=
DATABASE_NAME=real_estate_mvp

# Jwt
JWT_SECRET=something-very-secure-here
JWT_EXPIRATION=2h

# Google OAuth
GOOGLE_CLIENT_ID=470838288215-k0aal4p3jmc4qspsfd9pmpq0j0vgekn7.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_CALLBACK_URL=http://localhost:3001/api/auth/callback/google

# Mail (SMTP)
MAIL_HOST=smtp.example.com
MAIL_PORT=587
MAIL_USER=noreply@example.com
MAIL_PASSWORD=your-smtp-password
MAIL_FROM=noreply@example.com

# App
APP_PORT=3001
APP_CORS_ORIGIN=http://localhost:3000
APP_TIMEZONE=America/Sao_Paulo

# WhatsApp
WHATSAPP_SESSION_PATH=/app/storage/whatsapp

# S3 Bucket
BUCKET_NAME=brokerin-dev
BUCKET_KEY=7ceb1b9249d2921ff304515b2f3f4a0d
BUCKET_TOKEN=cqhZfYj30_W7wbB1t3sDmHAt6NkTJ5V41nXtL3sy
BUCKET_SECRET=55faa38a2273401e38af6da78902ab156b741c58b14656885f39f4da85d984da
BUCKET_URL=https://eef0195a658e4b439e1958609a845b06.r2.cloudflarestorage.com

# Asaas (Payment Gateway)
ASAAS_API_URL=https://sandbox.asaas.com/api/v3
ASAAS_API_KEY=your-asaas-api-key-here
